* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* div {
    border: 1px solid black;
    margin: 1px;
} */

/* main container*/
.container {
    width: 100%;
    height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

/* navbar section */
.navbar {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    cursor: pointer;
    margin: 30px 0;
}

.menu-icon {
    width: 25px;
    cursor: pointer;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    display: inline-block;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #000;
    transition: 0.2s;
}

nav ul li a:hover {
    color: #ff5ea2;
}

/* main content */
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

/* first column */
.col-1 {
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}

.col-1 h2 {
    font-size: 54px;
}

.col-1 h3 {
    font-size: 30px;
    color: #707070;
    font-weight: 100;
    margin: 20px 0 10px;
}

.col-1 p {
    font-size: 16px;
    color: #b7b7b7;
    font-weight: 100;
}

.col-1 h4 {
    font-size: 20px;
    margin: 30px 0;
}

button {
    width: 140px;
    border: 0;
    padding: 12px 14px;
    background: linear-gradient(to right, #fb5283, #ff3527);
    border-radius: 6px;
    cursor: pointer;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

button:hover {
    width: 160px;
}

button img {
    width: 30px;
    position: absolute;
    right: 10px;
    opacity: 0;
    transition: margin-left .5s, opacity 0.1s;

}

button:hover img {
    opacity: 1;
    margin-left: 50px;
}

button[type="button"] p {
    color: #fff;
    transition: .5s;
}

button:hover p {
    margin-right: 70px;
}

.col-1::after {
    content: '';
    width: 10px;
    height: 57%;
    background: linear-gradient(#ff469f, #ff6062);
    position: absolute;
    left: -40px;
    top: 8px;
}

/* second column */
.col-2 {
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}

.col-2 .controller {
    filter: drop-shadow(0 0px 7px black);
    width: 75%;
}

.col-2 .color-box {
    width: 80%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(#ff54a2, #ff575a);
    border-radius: 20px 0 0 20px;
    z-index: -1;
    transform: translateX(150px);
}

.col-2 .add-btn img {
    width: 35px;
    margin-bottom: 5px;
}

.col-2 .add-btn {
    text-align: center;
    color: #fff;
    cursor: pointer;
}

/* social links  */
.social-links {
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.social-links img {
    height: 15px;
}

